@import url(https://fonts.googleapis.com/css?family=Roboto:500);

:root {
  --primary-color:  linear-gradient(90deg, rgba(116, 209, 252, 1) 0%, rgba(81, 67, 244, 1) 100%);
  --secondary-color:  linear-gradient(90deg, rgb(229, 208, 229)  0%, rgb(213, 243, 242) 100%);
  --hover-color: linear-gradient(90deg, rgba(146, 239, 252, 1) 0%, rgba(255, 255, 255, 1) 100%);
  --font-family: 'Roboto', sans-serif;
  color: #000000
}

.App {
  text-align: center;
  padding: 2% 5%;
  /* background-color: rgb(163, 157, 197);
   */
   background-image: var(--primary-color);
}

.App * {
  box-sizing: border-box;
}

/* .App-header {

  font-size: calc(10px + 2vmin);
} */

.App-header {
  min-height: 60px; /* Change this to your preferred height */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.App-logo {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.App-logo:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out
}

@media (max-width: 768px) {
  .App-header {
    justify-content: center;

  }
}



ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
  transition: background-color 0.3s ease;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: silver
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: relative;
  background-image: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details-btn {
  position: left;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: black;
  background-image: var(--primary-color);
  transition: background-image 0.3s ease;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details-btn:hover {
  background-image: var(--hover-color);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}

.details-container {
  max-width: 600px;
  padding: 10px;
  margin : 0 auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

